.category {
  font-family: 'Urbanist-Bold', sans-serif;
  border-radius: 15px;
  padding-top: 1rem;
  margin-bottom: 4rem;
  width: 100%;
  height: 100%;
  background: #21272f;
}

.category-light {
  background: #f9fbfc;
}

.category:hover {
  background: rgba(126, 52, 240, 0.7);
  transition: background 0.3s ease;
  cursor: pointer;
}

.category:hover .category-indx-light {
  color: black;
}

.category * {
  margin-left: 2rem;
}

.category-indx {
  margin-bottom: 0;
}

.category-indx-light {
  margin-bottom: 0;
  color: white;
}

.category-name {
  margin-top: 0;
}


@media screen and (max-width: 1024px) {
  .category {
    font-size: 0.8rem;
    height: 70%;
    padding-bottom: 2rem;
    margin-bottom: 0;
  }
}