.categories-section {
  height: 20%;
  width: 96.8%;

  margin-top: 150px;
  background: gray;
}

.categories-headline {
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 1.7rem;
  margin-bottom: 20px;
}