:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --shadow-color: 0deg 0% 8%;
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Urbanist-Regular';
  src: url('../assets/fonts/Urbanist-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Urbanist-Medium';
  src: url('../assets/fonts/Urbanist-Medium.woff2') format('woff2');
  font-weight: medium;
}

@font-face {
  font-family: 'Urbanist-Bold';
  src: url('../assets/fonts/Urbanist-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme-dark-text {
  color: black;
}

#display-light {
  background: #f9fbfc;
}

.slogan-light {
  color: #fe8944;
}