:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --shadow-color: 204deg 21% 6%;
  --shadow-elevation-high:
    0px 1px 1.1px hsl(var(--shadow-color) / 0.44),
    0.1px 5px 5.6px -1.2px hsl(var(--shadow-color) / 0.44),
    0.4px 19.1px 21.5px -2.5px hsl(var(--shadow-color) / 0.44);
}

@font-face {
  font-family: 'Urbanist-Regular';
  src: url('../assets/fonts/Urbanist-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Urbanist-Medium';
  src: url('../assets/fonts/Urbanist-Medium.woff2') format('woff2');
  font-weight: medium;
}

@font-face {
  font-family: 'Urbanist-Bold';
  src: url('../assets/fonts/Urbanist-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}