:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a2028;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Urbanist-Regular';
  src: url('../assets/fonts/Urbanist-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Urbanist-Medium';
  src: url('../assets/fonts/Urbanist-Medium.woff2') format('woff2');
  font-weight: medium;
}

@font-face {
  font-family: 'Urbanist-Bold';
  src: url('../assets/fonts/Urbanist-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}