.login-background {
  position: absolute;
  height: 10000px;
  width: 10000px;
  top: -500%;
  left: -500%;
  margin: 0;
  background-image: url('../assets/images/SeekPng.com_space-png_256238.webp');
  background-repeat: repeat;
  background-size: 100px, 100px;
  transform: rotate(-45deg);
  z-index: -1;
  opacity: 0.5;
}

.login-background-light {
  opacity: 0.2;
}

.no-overflow {
  overflow: hidden;
}

.login-title {
  font-family: 'Urbanist-Bold', sans-serif;
  width: 20%;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -150%);
}

.login {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Urbanist-Medium', sans-serif;
  background-color: #21272f;
  height: 10rem;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 7%;
  border: 3px solid #fe8944;
}

.login-form-light {
  background: #f9fbfc;
}

.login-form input {
  font-family: 'Urbanist-Regular', sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  border: dashed 3px grey;
  border-radius: 10px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.login-form input.incorrect {
  padding-left: 20px;
  border: solid #ff0000;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.login-form input:focus {
  border: solid #fe8944;
}

#login-button {
  font-family: 'Urbanist-Medium', sans-serif;
  font-size: 1.1em;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #fe8944;
  transition: background-color 0.3s ease-in-out;
}

#login-button:hover {
  background-color: #d67339;
}
