body {
  background-color: #1a2028;
}

.main-hub {
  margin-right: 10%;
  margin-left: 10%;
}

@media screen and (max-width: 1024px) {
  .main-hub {
    margin-right: 0;
    margin-left: 0;
    display: grid;
  }
}