.main-display {
  margin-top: 35px;
  height: 40em;
  background-color: #21272f;
  width: 100%;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.game-display {
  background: #fe8944;
  border-radius: 5px;
}

.game-display-light {
  background: #7e34f0;
}

.streaming-sing-in {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.background {
  height: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  transform: rotate(-20deg) translateX(-25%);
  margin: 0;
  z-index: 1;
}

.streaming-sing-in h1 {
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 3.5em;
  display: inline-block;
  margin: 0;
  margin-left: 4rem;
  z-index: 4;
}

.streaming-sing-in p {
  font-family: 'Urbanist-Regular', sans-serif;
  display: block;
  font-size: 1rem;
  margin-left: 4rem;
  color: #6c727a;
  z-index: 4;
}

.account-links {
  display: flex;
  list-style: none;
  align-items: center;
  z-index: 4;
}

.account-links li {
  font-family: 'Urbanist-Bold', sans-serif;
  margin-left: 1.5rem;
}

.account-links li:last-child {
  margin-left: 4rem;
}

.game-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-text: center;
}

.announcement {
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

.sub-announcement {
  font-family: 'Urbanist-Bold', sans-serif;
  color: #ec752f;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.sub-announcement-light {
  color: #581baf;
}

.add-wait-list {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  transform: translateY(-8.4rem) translateX(-5.9rem);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.add-wait-list:hover {
  cursor: pointer;
}

.stream-time {
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 1.8rem;
  background-color: white;
  color: #fe8944;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 50px;
}

.stream-time-light {
  color: #7e34f0;
}

.fortnite {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateY(0.3rem)
}

.search-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-section h1 {
  display: inline-block;
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.search-section h1:first-child {
  margin-top: 2.5rem;
}

.title-light {
  color: black;
}

.search-section h1:last-child {
  margin-top: 10rem;
}

.platforms {
  background-color: #1a2028;
  margin-left: 4rem;
  width: 75%;
  height: 10%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
}

.platforms-light{
  background: transparent;
}

.platforms div {
  margin-right: 1.5rem;
  font-family: 'Urbanist-Medium', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.platforms div:last-child {
  margin-right: 0;
}

.selected {
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: -0.5rem;
  transform: scale(1.05);
}

.selected.light {
  background: #f3f3f3;
}

.selected.dark {
  background: #30363e;
}

.platforms div:not(.selected) {
  transform: scale(0.95);
}

#name-light {
  color: black;
}


.section-number {
  font-family: 'Urbanist-Medium', sans-serif;
  font-size: 2rem;
  color: #6c727a;
  margin-right: 0.2rem;
}

.search-input-section {
  background: #1a2028;
  margin-left: 4rem;
  width: 75%;
  border-radius: 20px 20px 0 0;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
}

.search-input-section-light {
  background: #f3f3f3;
}

.search-results {
  background-color: #1a2028;
  margin-left: 4rem;
  width: 75%;
  height: 43%;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-2rem);
}

.search-results-light {
  background: #f3f3f3;
}

.results {
  width: 85%;
  height: 70%;
  margin-top: 3%;
  margin-bottom: 3%;
  overflow: auto;
}

.search-button {
  background: white;
  border-radius: 10px;
  position: absolute;
  border: none;
  font-family: 'Urbanist-Bold', sans-serif;
  color: black;
  font-size: 1rem;
  width: 10%;
  height: 3rem;
  transition: background 0.3s ease, color 0.3s ease;
  z-index: 1;
  transform: translateY(595%) translateX(42%);
}

.search-button-light {
  background: #1a2028;
  color: white;;
}

.search-button:hover {
  cursor: pointer;
  color: white;
  background: #1a2028;
  border: 2px solid white;
}

.search-button-light:hover {
  color: #1a2028;
  background: white;
  border: 2px solid #1a2028;
}

#slogan-top {
  margin-top: 5rem;
}

.slogan-purple {
  margin: 0;
  margin-left: 4rem;
  color: #7e34f0;
}

#slogan-light {
  color: #fe8944;
}

.feature-highlight {
  font-family: 'Urbanist-Bold', sans-serif;
  color: white;
}

.create-link {
  ccontainerursor:pointer;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  background: #343a3f;
  box-shadow: var(--shadow-elevation-high);
  transition: background 0.3s ease, color 0.3s ease;
}

.create-link-light {
  background: #ffffff;
  color: black;
  transition: background 0.3s ease, color 0.3s ease;
}

.create-link:hover {
  background: white;
  color: black;
}

.create-link-light:hover {
  background: black;
  color: white;
}

#stroke1 {
  display: block;
  z-index: 2;
}

#stroke2 {
  display: block;
  transform: translateY(-80%);
  z-index: 3;
}

#stroke3 {
  display: block;
  transform: translateY(-160%);
  z-index: 4;
}

.search-input {
  width: 69%;
  height: 3.5rem;
  margin-top: 0;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 20px 20px 0 0;
  border: none;
  background: transparent;
  font-size: 1.1rem;
  font-family: 'Urbanist-Bold', sans-serif;
}

.search-input-light {
  color: black;
}

.search-input:focus {
  outline: none;
}

.additional-filters {
  width: 25%;
  border-radius: 0 20px 0 0;
  border: none;
  background: transparent;
  cursor: pointer;
  background-image: url('../assets/images/adjustments-horizontal.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  opacity: 0.3;
}

.additional-filters-dark {
  filter: invert(1);
}

@media screen and (max-width: 1700px) {
  .platforms div {
    font-size: 1rem;
    margin-right: 0.8rem;
  }
}

@media screen and (max-width: 1500px) {
  .background {
    width: 400px;
  }

  .streaming-sing-in h1 {
    font-size: 2.8rem;
  }

  .account-links li {
    font-size: 15px;
  }

  .search-section h1 {
    font-size: 1.3rem;
  }

  .section-number {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1300px) {
  .account-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }

  .selected {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right: -0.1rem;
  }
}

@media screen and (max-width: 1200px) {
  .background {
    width: 300px;
  }

  .platforms {
    margin-left: 0;
  }

  .search-input-section {
    margin-left: 0;
  }

  .search-results {
    margin-left: 0;
  }

  .streaming-sing-in h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .search-button {
    transform: translateY(595%) translateX(70%);
  }
}

@media screen and (max-width: 600px) {
  .streaming-sing-in h1 {
    margin-left: 4rem;
  }

  .main-display {
    width: 96%;
  }

  .search-input-section {
    width: 90%;
  }

  .search-results {
    width: 90%;
  }

  .platforms {
    margin-right: 0;
    width: 90%;
  }

  .search-button {
    width: 100px;
    transform: translateY(595%) translateX(73%);
  }
}
