.main-display {
  margin-top: 35px;
  margin-right: 50px;
  height: 40em;
  background-color: #21272f;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 484.7px 484.7px 484.7px;
}

.game-display {
  background-color: #fe8944;
  border-radius: 5px;
}

.streaming-sing-in {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.background {
  height: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  transform: rotate(-20deg) translateX(-25%);
  margin: 0;
  opacity: 0.35;
  z-index: 1;
}

.streaming-sing-in h1 {
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 3.5em;
  display: inline-block;
  margin: 0;
  margin-left: 4rem;
  z-index: 4;
}

.streaming-sing-in p {
  font-family: 'Urbanist-Regular', sans-serif;
  display: block;
  font-size: 1rem;
  margin-left: 4rem;
  color: #6c727a;
  z-index: 4;
}

.account-links {
  display: flex;
  list-style: none;
  align-items: center;
  z-index: 4;
}

.account-links li {
  font-family: 'Urbanist-Bold', sans-serif;
  margin-left: 1.5rem;
}

.account-links li:last-child {
  margin-left: 4rem;
}

.game-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-text: center;
}

.announcement {
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

.sub-announcement {
  font-family: 'Urbanist-Bold', sans-serif;
  color: #ec752f;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.add-wait-list {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  transform: translateY(9.4rem) translateX(-5.9rem);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.add-wait-list img {
  width: 70%;
}

.stream-time {
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 1.8rem;
  background-color: white;
  color: #fe8944;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 50px;
}

.fortnite {
  transform: translateY(0.5rem)
}

.search-section h1 {
  display: inline-block;
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.search-section h1:first-child {
  margin-top: 2.5rem;
}

.search-section h1:last-child {
  margin-top: 10rem;
}

.platforms {
  background-color: #1a2028;
  margin-left: 4rem;
  width: 75%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
}

.platforms div {
  margin-right: 1.5rem;
  font-family: 'Urbanist-Medium', sans-serif;
  font-size: 1.2rem;
}

.platforms div:last-child {
  margin-right: 0;
}

.section-number {
  font-family: 'Urbanist-Medium', sans-serif;
  font-size: 2rem;
  color: #6c727a;
  margin-right: 0.2rem;
}

.search-input-section {
  background-color: #1a2028;
  margin-left: 4rem;
  width: 75%;
  border-radius: 20px 20px 0 0;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
}

.search-results {
  background-color: #1a2028;
  margin-left: 4rem;
  width: 75%;
  height: 38%;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  transform: translateY(-2rem);
}

#slogan-top {
  margin-top: 5rem;
}

#slogan-purple {
  margin: 0;
  margin-left: 4rem;
  color: #7e34f0;
}

#feature-highlight {
  font-family: 'Urbanist-Bold', sans-serif;
  color: white;
}

#create-link {
  cursor:pointer;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  background-color: #343a3f;
  box-shadow: var(--shadow-elevation-high);
}

#stroke1 {
  display: block;
  z-index: 2;
}

#stroke2 {
  display: block;
  transform: translateY(-80%);
  z-index: 3;
}

#stroke3 {
  display: block;
  transform: translateY(-160%);
  z-index: 4;
}

#stroke1, #stroke2, #stroke3 {
  filter: saturate(78deg) hue-rotate(264deg) brightness(87%) contrast(97%);
}


#add-user-svg {
  filter: invert(1);
}

#search-input {
  width: 69%;
  height: 3.5rem;
  margin-top: 0;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 20px 20px 0 0;
  border: none;
  background: transparent;
  font-size: 1.1rem;
  font-family: 'Urbanist-Bold', sans-serif;
}

#search-input:focus {
  outline: none;
}

#additional-filters {
  width: 25%;
  border-radius: 0 20px 0 0;
  border: none;
  background: transparent;
  cursor: pointer;
  background-image: url('../../images/adjustments-horizontal.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  filter: invert(1);
  opacity: 0.3;
}
