.navbar {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hub-name {
  font-family: 'Urbanist-Bold', sans-serif;
  font-size: 2.5em;
  display: inline-block;
  transform: translate(-50px)
}

.hub-sections-links {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}


.hub-sections-links li {
  font-family: 'Urbanist-Medium', sans-serif;
  margin-right: 30px;
}

.hub-sections-links li:last-child {
  margin-right: 0;
}

.profile-section-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}

.profile-section-links li {
  font-family: 'Urbanist-Medium', sans-serif;
  margin-right: 50px;
}

.profile-section-section li:last-child {
  margin-right: 0;
}

#create-account {
  text-align: center;
  border: 1px solid grey;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  background-color: #13171c;
}